* {
  font-family: sans-serif;
}
.del:hover {
  font-size: 20px;
  color: red;
}
.edit:hover {
  font-size: 22px;
  color: green;
}

h2 {
  background-color: rgb(216, 197, 238);
  border-radius: 5px;
}
